@media screen and (max-height: 650px) {
	.nav-button {
		height: 50px;
		font-size: 20px;
	}

	.title-div {
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.title-div h1 {
		font-size: 30px
	}

	.nav-div {
		margin-top: 0px
	}
}

@media screen and (max-width: 800px) {
	.nav-div {
		padding: 5px;
	}

	.user-profile {
		margin-right: 0px;
	}

	.profile-div {
		padding: 30px;
	}
}

.search-bar {
	width: 80%;
	height: 40px;
}

.add-button {
	height: 40px;
	font-size: 40px;
	padding: 0px;
	margin-left: 2rem;
}

.add-button:hover {
	border: none;
}